<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="background:#E0E4CC">
  	<div class="text-well" style="margin:50px;border:solid;border-width:4px;border-color:#F38630;border-radius:10px;background:#A7DBD8;padding:15px;width:500px">
	    <h1 style="font-family:helvetica;color:#262626;opacity:0.8;margin-bottom:-15px">Hey there, <%= @goal.user.name %>!</h1>
	    <p style='margin-bottom:25px;font-family:helvetica;color:#F38630;font-weight:bold;font-size:20px;color:#262626;opacity:0.8'>
	      Have you done your daily dose of <%= @goal.name %>?
	    </p>
	    <p>
	      <a href="http://charitystreak.herokuapp.com/goals" style="font-family:helvetica;border-style:solid;border-width:4px;border-color:rgb(243,134,48);background:rgb(243,134,48);border-radius:10px;color:#FFF;padding:10px;font-size:30px;">Check in!<a>
	    </p>
	    <h2 style="margin-top:25px;font-family:helvetica;color:#262626;opacity:0.8">
	    	Don't snap your streak!
	    </h2>
	    <h3 style="margin-top:-15px;font-family:helvetica;color:#262626;opacity:0.8">
	    	Remember!  It's for the kids.
	    </h3>
	  </div>
  </body>
</html>

