<div class='row'>
	<div class='twocol'></div>
	<div class='eightcol'>
		<div class="container" id='main_content'>
			<br />
		<div class="row">
			<div class='twocol'></div>
			<div class="twocol">
				<img src="http://3.bp.blogspot.com/_pCf1lWpT4W4/TEG0EaHQUwI/AAAAAAAAAJ0/7lgexokeYzw/s320/CharityLogo.jpg"></img>
			</div>
			<div class="sixcol last">
				<h1>Charity Chain</h1>
			</div>
		</div>
		<br />
		<div class="row">
			<div class='twocol'></div>
			<div class="eightcol">
				<p>DonorsChoos.in's main motivation is to introduce new potential donors to donorschoose.org.
	Our site is for people who likely aren't already donating to the charity, but are 
	both interested in self-improvement and looking for something extra to motivate 
	them down the path of betterment. We will have our users increase in donations overall as
	well as more people attaining their personal goals.
				</p>
				<br />
			</div>
			<div class='twocol last'></div>
		</div>
		<div class="row">
			<br />
			<div class='twocol'></div>
			<div class="fourcol">
				<form class="box login">
					<h2>Sign Up</h2>

					<fieldset class="boxBody" style='height: 92px;'>
						<div class='elevencol'>
						  <input type="text" placeholder="Email Address" required>
					  </div>
					</fieldset>
					<footer>
					  <input type="submit" class="btnLogin" value="Sign Up" tabindex="4">
					</footer>
				</form>

			</div>

			<div class="fourcol">
				<form class="box login">
					<h2>Sign In</h2>

					<fieldset class="boxBody">
						<div class='elevencol'>
						  <input type="text" placeholder="Email Address" required>
					  </div>
					  <div class='elevencol'>
						  <input type="password" placeholder="Password" required>
					  </div>
					</fieldset>
					<footer>
					  <input type="submit" class="btnLogin" value="Sign In" tabindex="4">
					</footer>
				</form>
			</div>
			
			<div class='twocol last'></div>
		</div>
	</div>
	</div>
	<div class='twocol last'></div>
</div>