<div class="container" id="bucket">
	<div class="container" id="logo_title">
		<div class="row">
			<div class="twocol"></div>
			<div class="eightcol">
				<h1>Charity Chain</h1>
			</div>
			<div class="twocol last"></div>
		</div>
		<div class="row">
			<div class="twocol"></div>
			<div class="eightcol" id="pitch">
				<p>DonorsChoos.in's main motivation is to introduce new potential donors to donorschoose.org.  Our site is for people who likely aren't already donating to the charity, but are both interested in self-improvement and looking for something extra to motivate them down the path of betterment. We will have our users increase in donations overall as well as more people attaining their personal goals.
				</p>
			</div>
			<div class="twocol last"></div>
		</div>
		<div class="row">
			<div class="twocol"></div>
			<div class="threecol sign_up_form">
				<!-- <h2 id="sign_up_title">Sign Up</h2> -->
				<form id="sign_up">
					<div>
						<input id="email_input" type="text" placeholder="Email address" />
					</div>
					<div>
						<input id="sign_up_submit" type="submit" value="Sign Up!" />
					</div>
				</form>
			</div>
			<div class="threecol sign_in_form">
				<!-- <h2 id="sign_in_title">Sign In</h2> -->
				<form id="sign_up">
					<div>
						<input id="email_input" type="text" placeholder="Email address" />
					</div>
					<div>
						<input id="email_input" type="text" placeholder="Password" />
					</div>
					<div>
						<input id="sign_up_submit" type="submit" value="Sign In!" />
					</div>
				</form>
			</div>
			<div class="twocol last"></div>
		</div>
	</div>
</div>