  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
    <div class="row">
      <span class="logo">CharityStreak</span>
      <span class="user-info" style="font-weight:bold">
        <a id="signin_link" data-toggle="modal" href="#signin_modal">Sign In</a>
      </span>
    </div>
  </div>

  <div class="modal hide" id="signin_modal">
    <div class="modal-header">
      <h3>Sign In</h3>
    </div>
    <div class="modal-body">
      <%= form_tag sessions_path, method: "post", id:'signin_form', class: 'modal_form' do %>
        <input type="text" id="signin_email" name="email" placeholder="email" />
        <input type="password" id="signin_password" name="password" placeholder="password" />
      <% end %>
    </div> 
    <div class="modal-footer">
      <a href="#" class="btn-cancel" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn" id="signin_submit">Sign In</a>
    </div>
  </div>

  <div class="splash-container">
    <p class="splash-text">A better you. A better us.</p>
    <%= image_tag "charitychain.png", :class => "charity-image" %>
    <div class="signup-form">
      <div class="well signup-well">
        <div class="pitch"><h2>CharityStreak's main motivation is to introduce new potential donors to donorschoose.org.</h2>
        <h4>Our site is for people who likely aren't already donating to the charity, but are 
        both interested in self-improvement and looking for something extra to motivate 
        them down the path of betterment. We hope to see an increase in donors overall as
        well as more people attaining their personal goals.</h4></div>
        <div class="signup"><a id="signup_link" data-toggle="modal" href="#signup_modal" class="btn">Get Started</a></div>
      </div>
    </div>
  </div>
  <div class="modal hide" id="signup_modal">
    <div class="modal-header">
      <h3>Sign up</h3>
    </div>
    <div class="modal-body">
      <h6>CharityStreak is free to use.  All we need is your email & a password.</h6>
      <%= form_tag sessions_path, method: "post", id:'signup_form', class: 'modal_form' do %>
        <input type="text" id="user_email" name="user[email]" placeholder="email" /><br />
        <input type="password" id="user_password" name="user[password]" placeholder="password" /><br />
      <% end %>
      <p id="password_confirmation">* no password confirmation necessary.  You can always reset it later.</p>
    </div> 
    <div class="modal-footer">
      <%= image_tag "signup.png", class: 'workflow' %>
      <a href="#" class="btn-cancel" data-dismiss="modal">Cancel</a>
      <a href="#" class="btn" id="signup_submit">Sign up</a>
    </div>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background: url(assets/splash4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
  }
  
  form {
    margin-top:-270px;
    z-index: 100;
    opacity: 1;
  }

  input {
    font-size:30px;
    margin-bottom:30px;
    padding:5px;
    border-radius: 5px;
  }

  h6 {
    color: #262626;
    padding-bottom: 8px;
  }

  #password_confirmation {
    font-size: 10px;
    color: #262626;
    opacity: 0.6;
    text-align: left;
  }

  .workflow-goal {
    float: left;
    width: 350px;
    margin-bottom: -13px;
  }
</style>

<script type="text/javascript">
  $("#signin_submit").click(function(e) {
    var email = $("#signin_email").val();
    var password = $("#signin_password").val();
    var dataString = 'email='+ email + '&password=' + password
    $.ajax({
      type: "POST",
      url: "/sessions",
      data: dataString,
      success: function(data) {
        console.log(data);
        if (data.logged_in == true) {
          location.href = '/goals';
        } else {
          alert('Bad login');
        };
      }
    });
  });
  $("#signup_submit").click(function(e) {
    var email = $("#user_email").val();
    var password = $("#user_password").val();
    var dataString = 'user[email]='+ email + '&user[password]=' + password
    $.ajax({
      type: "POST",
      url: "/users",
      data: dataString,
      success: function(data) {
        console.log(data);
        if (data.created_user == true) {
          location.href = '/goals';
        } else {
          alert('Bad credentials');
        };
      }
    });
  });
</script>
