  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
    <div class="row">
      <span class="logo">CharityStreak</span>
      <span class="user-info" style="font-weight:bold">
        <a id="signin_link" data-toggle="modal" href="#signin_modal">Sign In</a>
      </span>
    </div>
    <span class="underliner" style="height: 5px;"></span>
  </div>

  <div class="modal hide" id="signin_modal">
    <div class="modal-header">
      <h3>Sign in</h3>
    </div>
    <div class="modal-body">
      <%= form_tag sessions_path, method: "post", id:'signin_form' do %>
        <input type="text" id="signin_email" name="email" placeholder="email" />
        <input type="password" id="signin_password" name="password" placeholder="password" />
      <% end %>
    </div> 
    <div class="modal-footer">
      <a href="#" class="btn-cancel" data-dismiss="modal">Close</a>
      <a href="#" class="btn" id="signin_submit">Sign Up</a>
    </div>
  </div>

  <div class="splash">
  </div>
  <div class="splash-container">
    <p class="splash-text">A better you. A better us.</p>
    <%= image_tag "charitychain.png", :class => "charity-image" %>
    
    <div class="signup-form">
      <div class="well">
      </div>
      <%= form_tag users_path, method: "post", id:'signup_form' do %>
        <input type="text" id="user_email" name="user[email]" placeholder="email" /><br />
        <input type="password" id="user_password" name="user[password]" placeholder="password" /><br />
        <button type="submit" style="width:300px">Get Started</button>
      <% end %>
    </div>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background: url(assets/splash4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
  }

  input {
    font-size:30px;
    margin-bottom:30px;
    padding:5px;
    border-radius: 5px;
  }

  .signup-form {
    padding-top:0px;
    text-align:center;

  }

  .charity-image{
    width:750px;
    height:250px;
  }

  .underliner{
    display:block;
    margin-top:5px;
    background: transparent url(assets/10-black.png) repeat scroll 0 0;
  }

  .well {
    background: #eee;
    width: 645px;
    height: 200px;
    padding: 50px;
    margin: 0 auto;
    opacity: 0.7;
    z-index: -1;
    position: relative;
    border-radius: 20px;
  }

  form {
    margin-top:-270px;
    z-index: 100;
    opacity: 1;
  }
</style>

<script type="text/javascript">
  $("#signin_submit").click(function(e) {
    $("#signin_form").submit();
  });
</script>
