  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
    <div class="row">
      <span class="logo">CharityStreak</span>
    </div>
  </div>
  <div class="container">
    <div class="contribution-info">
      <div class="well contribution-well">
        
        <div id="thank-you-header" class="contribution-cell">Thank you for your contribution!</div>
        <div id="thank-you-body" class="contribution-cell">Your generous contribution will help children in every community have the tools and experiences needed for an excellent education.</div>
        <div id="contributed-text" class="contribution-cell">
          <div id="project-picture">
            <%= image_tag 'sample_project2.jpeg' %>
          </div>
          <div id="payment-details">
            <div class="charged-to">
              <div class="label">Charged To</div>
              <div class="value"><%= @contribution.name %></div>
            </div>
            <div class="amount">
              <div class="label">Amount</div>
              <div class="value"><%= display_contribution_amount @contribution.amount %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background: url(/assets/splash4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
  }
</style>
