  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
  </div>
  
  <div class="alerts">
    <div class="row">
      <div id="alert-bar" style="display: none"></div>
    </div>
  </div>
  
  <div class="container hide" id='main-container'>
    <div class="row">
      <div class="twelvecol">
        <p class="goal-title" class="edit">My Goal</p>
      </div>
    </div>
    <div class="row">
      <div class="fourcol" id='streak'>
      </div>
      <div class="fourcol" id='wallet'>
      </div>
      <div class="fourcol last" id='project'>
      </div>
    </div>
  </div>

  <div class='addthis-buttons' style="display:none;">
    <span style="float: left; color: gray; padding-right: 20px; padding-top: 5px;">Get Sponsored!</span>
    <input type="text" name="contribution-link" readonly="readonly", class="contribution-link" val="Hello" style="font-size: 15px;"/>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <span style="float: left; color: gray; padding-right: 20px">Share</span>
      <a class="addthis addthis_button_preferred_1"  addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_preferred_2" addthis:url="" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_gmail" addthis:url="" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-500d950907c48c42">
    </script>
  </div>

  <div class='dialogs'>
  </div>

  <div class='modals'>
  </div>
  
<style>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
    background: url(http://subtlepatterns.com/patterns/handmadepaper.png);
  }
</style>

<script type="text/javascript">

  $(document).ready(function() {
    new App();
  });

</script>
