  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
  </div>
  
  <div class="alerts">
    <div class="row">
      <div id="alert-bar" class="tencol" style="display: none"></div>
    </div>
  </div>
  
  <div class="container hide" id='main-container'>
    <div class="row">
      <div class="twelvecol">
        <p class="goal-title">My Goal</p>
      </div>
    </div>
    <div class="row">
      <div class="fourcol" id='streak'>
      </div>
      <div class="fourcol" id='wallet'>
      </div>
      <div class="fourcol last" id='project'>
      </div>
    </div>
  </div>

  <div class='dialogs'>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
    background: url(http://subtlepatterns.com/patterns/handmadepaper.png);
  }
</style>

<script type="text/javascript">

  $(document).ready(function() {
    new App();
  });
</script>