  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
  </div>
  
  <div class="alerts">
    <div class="row">
      <div id="alert-bar" class="tencol" style="display: none"></div>
    </div>
  </div>
  
  <div class="container hide" id='main-container'>
    <div class="row">
      <div class="twelvecol">
        <p class="goal-title">My Goal</p>
      </div>
    </div>
    <div class="row">
      <div class="fourcol" id='streak'>
      </div>
      <div class="fourcol" id='wallet'>
      </div>
      <div class="fourcol last" id='project'>
      </div>
    </div>
  </div>

  <div class='addthis-buttons' style="display:none;">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <span style="float: left; padding-right: 10px; color: gray">share </span>
      <a class="addthis addthis_button_preferred_1" addthis:url="http://example.com" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_preferred_2" addthis:url="http://example.com" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_preferred_3" addthis:url="http://example.com" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_gmail" addthis:title="An excellent website"></a>
      <a class="addthis addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-500d950907c48c42">
    </script>
    <!-- AddThis Button END -->
  </div>

  <div class='dialogs'>
  </div>

  <div class='modals'>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
    background: url(http://subtlepatterns.com/patterns/handmadepaper.png);
  }

  a.addthis {
    margin-right: 10px;
  }

  .social-container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }
</style>

<script type="text/javascript">

  $(document).ready(function() {
    new App();
  });


</script>