  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
    <div class="row">
      <span class="logo">CharityStreak</span>
      <span class="user-info"><img src="/assets/icons/glyphicons_003_user.png" alt="icon" class="icon"/> Conan Rimmer</span>
    </div>
    <span class="underliner" style="margin-top:5px; height: 5px;"></span>
  </div>

  <div class="container">
    <div class="row">
      <div class="threecol"></div>
      <div class="sixcol">
        <div class="form-well">
          <form id="goal_create_form">
            <div class="form-line">
              <div class="form-label">Goal</div>
              <div class="form-field"><input type="text" name="goal_name" placeholder="Walk a mile a day" /></div>
            </div>
            <div class="form-line">
              <div class="form-label">How often?</div>
              <div class="form-field"><%= select_tag(:goal_period, options_for_select(@goal_period_options)) %></div>
            </div>
            <div class="form-line">
              <div class="form-label">What's it worth?</div>
              <div class="form-field">
                <%= select_tag(:donation_amount, options_for_select(@donation_amount_options)) %>
                <span style="padding: 0px 10px 0px 10px;">every</span>
                <%= select_tag(:donation_period, options_for_select(@donation_period_options)) %>
              </div>
            </div>
            <div class="button-container" style="margin: 20px;">
              <button>Set My Goal</button>
            </div>
          </form>
        </div>
      </div>
      <div class="threecol"></div>
    </div>
  </div>

<style>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
    background: url(http://subtlepatterns.com/patterns/handmadepaper.png);
  }
</style>

<script type="text/javascript">
  $("#goal_create_form").submit(function(e) {
    e.preventDefault();
    location.href = '/goals/1';
  });
</script>