div.alert-success {
  font-size: 150%;
  margin-top: 0px !important;
  position: fixed;
  padding-top:15px;
  height:40px;
  top: 60px;
  margin-left: 0px;
  z-index: 10000;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
