#small-well {
  height: 310px;
}

.well.contribution-well {
  background: $pondwater;
  opacity: 0.8;
  border: solid 5px $goldfish;
  height: 350px;
}

.splash-text.help-me-header {
  margin-left: 30px;
  font-size: 64px;
}

.contribution-header {
  padding: 10px 0 100px 0;
}

#explanation-section {
  width: 50%;
  float: left;
  
  h4 {
    padding-bottom: 10px;
  }
}

#contribution_form {
  z-index: 100;
  opacity: 1;
}

#contribution-section {
  width: 50%;
  float: right;
}

#contribution_form {
  margin-left: 35px;
  
  input {
    width: 98%;
    font-size:16px;
    padding: 5px 0px 5px 5px;

    border-radius: 5px;
  }
  
  select {
    vertical-align: middle;
    font-size: 14px;
    height: 30px;
  }
  
  #card_sec_code {
    width: 50px;
  }
  
  .contribution-amount {
    padding: 15px 0px 15px 0px;
    overflow: auto;
    border-bottom: solid 1px #262626;
  }
  
  .amount-label {
    float: left;
    vertical-align: middle;
  }

  .amount-select {
    float: right;
  }
  
  .cardholder_name {
    padding-top: 15px;
  }
  
  .card_number {
    padding-top: 8px;
  }
  
  .expiry_and_cvc {
    padding-top: 8px;
  }
  
  .card_expiration {
    float: left;
  }

  .card_cvc {
    float: right;
  }
}

#contribute_button {
  @include button($lilypad);
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  text-transform:uppercase;
  font-family: 'Century Gothic', sans-serif;
}

.owner_name {
  color: $ladybug;
  font-weight: bold;
}

.donors_choose {
  color: $pencil;
  font-weight: bold;
}

.currency {
  font-size: 18px;
}

.plea-text {
  color: $ladybug;
}

.contribution-cell {
  width: 90%;
  padding: 0 5% 0 5%;
}

#thank-you-header {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 30px;
}

#thank-you-body {
  padding-bottom: 23px;
}

#project-picture {
  width: 45%;
  float: left;
  
  img {
    border: solid 1px $goldfish;
  }
}

#contribution-text {
  width: 55%;
  float: right;
}

#payment-details {
  font-size: 20px;
}

.charged-to, .amount, .card-number, .card-type {
  overflow: auto;
  width: 100%;
  padding-bottom: 8px;
}

.label {
  color: $whale;
  font-weight: bold;
  float: left;
  width: 40%;
}

.value {
  float: right;
  width: 60%;
}

#project-info {
  margin-top: 20px;
  
  a {
    color: $whale;
    text-decoration: none;
  }
  
  .explanation-image {
    float: left;
    width: 43%;
  
    img {
      height: 130px;
      border: solid 1px $goldfish;
    }
  }
  
  .school-info {
    float: right;
    width: 57%;
  }
  
  .truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
  }

  .truncate-header {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 15px;
  }

  .progress {
    margin-top: 10px;
  }
}