.well.contribution-well {
  background: $pondwater;
  opacity: 0.8;
  border: solid 5px $goldfish;
  height: 350px;
}

.well.contribution-well > div {
  width: 50%;
}

.well {
  
}

.form {
  float: right;
}

.explanation {
  float: left;
  
  h4 {
    padding-bottom: 10px;
  }
}

.explanation-image {
  padding-top: 15px;
  img {
    height: 125px;
  }
}

#contribution_form {
  margin-left: 35px;
  
  input {
    width: 98%;
    font-size:16px;
    padding: 5px 0px 5px 5px;

    border-radius: 5px;
  }
  
  select {
    vertical-align: middle;
    font-size: 24px;
  }
  
  #card_sec_code {
    width: 50px;
  }
  
  .contribution-amount {
    padding: 15px 0px 15px 0px;
    overflow: auto;
    border-bottom: solid 1px #262626;
  }
  
  .amount-label {
    float: left;
    vertical-align: middle;
  }

  .amount-select {
    float: right;
  }
  
  .cardholder_name {
    padding-top: 15px;
  }
  
  .card_number {
    padding-top: 8px;
  }
  
  .expiry_and_cvc {
    padding-top: 8px;
  }
  
  .card_expiration {
    float: left;
  }

  .card_cvc {
    float: right;
  }
}

#contribute_button {
  @include button($lilypad);
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  text-transform:uppercase;
  font-family: 'Century Gothic', sans-serif;
}

.owner_name {
  color: $ladybug;
  font-weight: bold;
}

.donors_choose {
  color: $pencil;
  font-weight: bold;
}

.currency {
  font-size: 18px;
/*  font-weight: bold;*/
}