#signin_modal, #signup_modal, #new_goal_modal, #review_goal_modal, #schedule_goal_modal, #sponsor_goal_modal {
  .modal-header {
    font-family: 'Cookie', cursive;
    color: #fff;
    font-size: 42px;
    background-color: $goldfish;
  }
  border: solid 5px $goldfish;
}

#signin_submit, #signup_submit {
  @include button('shiny', $lilypad);
  font-size: 14px;
}

.modal_form {
  margin-top: 10px;
  line-height: 16px;
  
  input {
    width: 97%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 6px;
  }
}

#password_confirmation {
    font-size: 10px;
    color: #262626;
    opacity: 0.6;
    text-align: left;
  }

.workflow {
  float: left;
  width: 350px;
  margin-top: -8px;
}

#goal_review_table {
  td {
    margin-right: 10px;
  }

  #review_goal_schedule {
  }
}

