#signin_link {
  color: #FFF;
  text-decoration: none;
  margin-right: 210px;
}

#signup_link {
  @include button('shiny', $lilypad);
  font-size: 24px;
}

.splash-text {
  font-size: 200px;
  color: #FFF;
  font-family: 'Cookie', cursive;
  text-shadow: 3px 3px 3px #666;
  margin-bottom: -55px;
}

.sub-headline {
  font-size: 45px;
  color: $cloudless;
  font-family: 'Cookie', cursive;
  text-align: right;
  text-shadow: 1px 1px 1px #666;
  margin-bottom:30px;
}

.splash-container {
  text-align:center;
}

.signup-form {
  padding-top:0px;
  text-align:center;
}

.charity-image{
  height:125px;
  float: left;
  margin: 12px 12px -15px 12px;
  text-align: center;

}

.pitch {
  color: darken($endive,66);
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  
  h2 {
    line-height: 1em;
    padding-bottom: 10px;
  };
}

.well {
  background: #eee;
  width: 670px;
  padding: 27px 35px 35px 35px;
  margin: 0 auto;
  opacity: 0.7;
  position: relative;
  border-radius: 20px;
}

.well.signup-well {
  background: $pondwater;
  opacity: 0.8;
  height: 250px;
  padding-bottom: 60px;
  border: solid 5px $goldfish;
}

.well.icons-well {
  background: $pondwater;
  opacity: 0.8;
  border: solid 5px $goldfish;
  margin-top: 25px;
  height: 150px;
}

.signup {
  margin-top: 25px;
}

