#signin_link {
  color: #FFF;
  text-decoration: none;
}

#signup_link {
  @include button('shiny', $lilypad);
  font-size: 24px;
}

#signin_modal, #signup_modal {
  width: 400px;
}

.splash-text {
  font-size: 100px;
  color: #FFF;
  font-family: 'Cookie', cursive;
  text-shadow: 3px 3px 3px #666;
  margin-bottom:20px;
}

.splash-container {
  text-align:center;
}

.signup-form {
  padding-top:0px;
  text-align:center;
}

.charity-image{
  width:750px;
  height:250px;
}

.pitch {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  
  h2 {
    line-height: 1em;
    padding-bottom: 10px;
  };
  h4 {  };
}

.well {
  background: #eee;
  width: 670px;
  height: 200px;
  padding: 27px 35px 35px 35px;
  margin: 0 auto;
  opacity: 0.7;
  position: relative;
  border-radius: 20px;
}

.well.signup-well {
  background: $pondwater;
  opacity: 0.8;
  padding-bottom: 60px;
  border: solid 5px $goldfish;
}

.signup {
  margin-top: 25px;
}

.modal_form {
  margin-top: 10px;
  line-height: 16px;
  
  input {
    width: 98%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 2px;
  }
}