$honeycomb:   rgb(233,186,38);
$clementine:  rgb(240,129,43);
$slushie:     rgb(95,184,221);
$frosting:    rgb(234,11,140);
$aloe:        rgb(80,136,107);
$berry:       rgb(80,131,149);
$wasabi:      rgb(158,174,61);
$grape:       rgb(146,39,143);
$spice:       rgb(235,63,60);
$wine:        rgb(131,46,47);
$whale:       rgb(38,38,38);

// love and dreams
$lilypad: rgb(105,186,93);
$rainforest: rgb(35,144,138);
$canary: rgb(255,252,195);
$ladybug: rgb(185,4,9);
$rosa: rgb(240,107,112);

// giant goldfish
$cloudless: rgb(105,210,231);
$pondwater: rgb(167,219,216);
$endive: rgb(224,228,204);
$goldfish: rgb(243,134,48);
$pencil: rgb(250,105,0);

$arial-rounded:   "arial rounded mt bold", Arial, sans-serif;