$honeycomb:   rgb(233,186,38);
$clementine:  rgb(240,129,43);
$slushie:     rgb(95,184,221);
$frosting:    rgb(234,11,140);
$aloe:        rgb(80,136,107);
$berry:       rgb(80,131,149);
$wasabi:      rgb(158,174,61);
$grape:       rgb(146,39,143);
$spice:       rgb(235,63,60);
$wine:        rgb(131,46,47);
$whale:       rgb(38,38,38);

$arial-rounded:   "arial rounded mt bold", Arial, sans-serif;